html {
    width: 100%;
    height: 100%;
    background-color: black;
}

body {
    background-color: black !important;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

ul {
    list-style: none;
}

.fontHeader {
    color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

.font1 {
    color: whitesmoke;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}
/* margin: Top Right Bottom Left;
            - Like a Joypad! */

/* ****************** HEADER SECTION ********************** */
.header {
    background-color: black;
    display: block;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    justify-content: center;
    text-align: center;
    align-content: center;
}

/* ****************** CONTENT SECTION ********************** */

.content {
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: gray;
    justify-content: center;
}

.content-box {
    background-color: red;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-width: 320px;
    height: 400px !important;
}

.musicStart {
    display: flex;
    position: relative;
    width: 100%;
    min-width: 320px;
    top: 87%;
    filter:invert();
    opacity: 35%;
}

.musicStart:hover {
    opacity: 95%;
}

.hide {
    display: none !important;
}

/* ****************** NAVIGATOR SECTION ********************** */

.nav {
    display: flex;
    background-color: black;
    flex-direction: row;
    margin: 10px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    justify-content: center;
}

.nav-box {
    width: 80%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px 0px 0px 0px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.nav-list > li {
    cursor: pointer;
}

.link1 {
    background-image: url(https://sonicfangameshq.com/forums/attachments/sonic-gif.15358/);
    background-size: 100%;
    opacity: 40%;
}

.link2 {
    background-image: url(https://thumbs.gfycat.com/BeneficialCloudyBushbaby-size_restricted.gif);
    background-size: 100%;
    opacity: 40%;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
    .link1 {
        background-position: bottom 750px right 0px;
    }
}

/* ****************** FOOTER SECTION ********************** */

.footer {
    display: flex;
    background-color: black;
    flex-direction: row;
    margin: 10px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    justify-content: center;
    text-align: center;
}